.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start; /* Align to the left */
    align-items: flex-start; /* Align to the top */
    height: 100%;
    width: 100%;
  }
  
  .background {
    position: relative;
    overflow: hidden;
  }
  
  .background img {
    width: 100%;
    height: auto;
  }
  
  .card {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 500px; /* Adjust the width as needed */
    height: 500px;
    /* background: linear-gradient(to bottom, grey 50%, white 50%); */
    border-radius: 10px;
    padding: 20px;
    margin-top: 200px; /* Adjust margin to position it away from the edges */
  }
  
  .card .top {
    flex: 1;
    background-color: grey;
  }
  
  .card .bottom {
    flex: 4;
    background-color: white;
  }
  